@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
header {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

#header-ohmyfood {
  width: 100%;
  display: flex;
  justify-content: center;
}

main header {
  display: block;
  margin: 0;
}
main header img {
  width: 100%;
  margin: 0;
}
main header #delice-des-sens {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0 15px;
}
main header #delice-des-sens h2 {
  padding: 0 10px;
}
main header #delice-des-sens i {
  position: absolute;
  right: 10%;
  top: 22%;
  font-size: 23px;
}

body {
  margin: 0;
}

#ul-entrée {
  list-style-type: none;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 20vw 20vw 20vw;
  grid-row-gap: 10px;
}

ul#ul-entrée > li {
  box-shadow: 0 5px 7px 0 #c9bfbf;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
  position: relative;
}
ul#ul-entrée > li:hover {
  transform: scale(1.01);
}

.prix-entrée {
  position: absolute;
  right: 20px;
  bottom: 10px;
  margin: 0;
}

.validé {
  width: 60px;
  height: 100%;
  background-color: #b6f9bd;
  display: none;
  position: absolute;
  right: -100px;
}

#titre-entrée {
  margin-bottom: 15px;
  padding: 0 10px;
  position: relative;
}

#titre-entrée::after {
  content: "";
  width: 41px;
  height: 4px;
  background: #6ee9cb;
  display: block;
}

#titre-plats {
  padding: 0 10px;
  margin: 15px 0 15px;
  position: relative;
}

#ul-plats {
  list-style-type: none;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 20vw 20vw 20vw;
  grid-row-gap: 10px;
}

ul#ul-plats > li {
  box-shadow: 0 5px 7px 0 #c9bfbf;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
ul#ul-plats > li:hover {
  transform: scale(1.01);
}

.prix-plats {
  position: absolute;
  right: 20px;
  bottom: 10px;
  margin: 0;
}

#titre-dessert {
  padding: 0 10px;
  margin: 15px 0 15px;
  position: relative;
}

#titre-dessert:after {
  content: "";
  width: 41px;
  height: 4px;
  background: #6ee9cb;
  display: block;
}

#ul_dessert {
  list-style-type: none;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 20vw 20vw 20vw;
  grid-row-gap: 10px;
  margin-bottom: 40px;
}

ul#ul_dessert > li {
  box-shadow: 0 5px 7px 0 #c9bfbf;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
ul#ul_dessert > li:hover {
  transform: scale(1.01);
}

.prix-dessert {
  position: absolute;
  right: 20px;
  bottom: 10px;
  margin: 0;
}

h3#titre-plats:after {
  content: "";
  width: 41px;
  height: 4px;
  background: #6ee9cb;
  display: block;
}

h1 {
  color: black;
  font-size: 25px;
}

#background {
  margin-top: -58px;
  background-color: rgb(251, 244, 244);
  border-radius: 20px 20px 0 0;
  padding-top: 16px;
  padding-bottom: 40px;
}

main {
  position: relative;
}

#image-background {
  height: 65vw;
  object-fit: cover;
}

@media screen and (max-width: 360px) {
  .h4-entrée {
    font-size: 14px;
  }
  .description-entrée {
    font-size: 13px;
  }
  .prix-entrée {
    font-size: 14px;
  }
  .h4-plats {
    font-size: 14px;
  }
  .description-plats {
    font-size: 13px;
  }
  .prix-plats {
    font-size: 14px;
  }
  .h4-dessert {
    font-size: 14px;
  }
  .description-dessert {
    font-size: 13px;
  }
  .prix-dessert {
    font-size: 14px;
  }
  .validé {
    font-size: 14px;
  }
}
.bloc {
  position: relative;
  width: 100%;
  padding: 10px;
}

.fa-arrow-left {
  color: black;
}

h2,
h3,
button,
p,
li,
a {
  font-family: "Roboto", sans-serif;
}

h1,
#footer-h3,
main header #delice-des-sens h2 {
  font-family: "Shrikhand";
  font-weight: 500;
}

#header-footer {
  display: block;
}

#ul-footer {
  list-style-type: none;
  padding: 0;
}

.i-footer {
  padding: 0 15px 0 0;
  width: 30px;
}

footer {
  background-color: #353535;
}

#footer-h3 {
  color: white;
  padding: 10px;
  font-weight: 100;
  font-size: 18px;
}

#ul-footer > li {
  padding: 0px 0 0 10px;
  color: white;
}
#ul-footer > li:hover {
  cursor: pointer;
}

#footer-email {
  color: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

.btn2 {
  display: block;
  margin: auto;
  color: white;
  border-radius: 50px;
  border: 0;
  padding: 10px 40px;
  background: linear-gradient(1deg, #9356dc, #ff79da);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.btn2:hover {
  box-shadow: 0px 5px 20px 0px #a9aaaa;
  opacity: 0.7;
}

#ul-entrée {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}
#ul-plats {
  animation: fadein 5s;
}

#ul_dessert {
  animation: fadein 8s;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
#ul-entrée > li:hover .validé {
  display: block;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul-entrée > li:hover .prix-entrée {
  right: 71px;
  transition-duration: 0.5s;
}

.fa-circle-check {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

#ul-entrée > li:hover .fa-circle-check {
  animation: rotate-center 0.5s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#ul-plats > li:hover .validé {
  display: block;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul-plats > li:hover .prix-plats {
  right: 71px;
  transition-duration: 0.5s;
}

#ul-plats > li:hover .fa-circle-check {
  animation: rotate-center 0.5s ease-in-out both;
}

#ul_dessert > li:hover .validé {
  display: block;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul_dessert > li:hover .prix-dessert {
  right: 71px;
  transition-duration: 0.5s;
}

#ul_dessert > li:hover .fa-circle-check {
  animation: rotate-center 0.5s ease-in-out both;
}

.solid {
  color: transparent;
  background: radial-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transition: all 400ms ease-in-out;
}

.duo:hover .solid {
  opacity: 1;
  transform: scale(1);
}

/*# sourceMappingURL=delice.css.map */
