@import "./Utils/fonctions.scss";
@import "./Utils/mixins.scss";
@import "./Utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
    padding: 0 10px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
        font-size: x-large;
        font-family: "Shrikhand";
    }
}

#location {
    height: 40px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        input {
            margin: 0 15px;
        }
    }
}

.first-section-center {
    text-align: center;
}

#list-operation {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    height: 200px;
    padding: 20px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            padding: 20px;
        }
    }
}

#div-restaurant {
    display: grid;
    grid-template-rows: 180px 180px 180px 180px;
    grid-gap: 20px;
}

section#\a \ \ \ \ \ \ \ \ \ \ \ \ restaurant-section a > figure {
    margin: 0;
    height: 100%;
}

#header-footer {
    display: block;
}

#ul-footer {
    list-style-type: none;
    padding: 0;
}

.i-footer {
    padding: 0 15px 0 0;
}
