#location {
    height: 40px;
    background: #f3f3f3;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        i {
            display: flex;
            align-items: center;
            padding: 0 5px;
        }

        input {
            margin: 0 6px;
            border: 0;
            width: 106px;
            background: #f3f3f3;
        }
    }
}

input::placeholder {
    color: black;
    font-family: "Roboto", sans-serif;
}
