.btn2 {
    display: block;
    margin: auto;
    color: white;
    border-radius: 50px;
    border: 0;
    padding: 10px 40px;
    background: linear-gradient(1deg, #9356dc, #ff79da);
    cursor: pointer;
}
