#ul-entrée {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
    }
}

#ul-plats {
    animation: fadein 5s;
}

#ul_dessert {
    animation: fadein 8s;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}

#ul-entrée > li:hover .validé {
    display: block;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul-entrée > li:hover .prix-entrée {
    right: 71px;
    transition-duration: 0.5s;
}

.fa-circle-check {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

#ul-entrée > li:hover .fa-circle-check {
    animation: rotate-center 0.5s ease-in-out both;
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#ul-plats > li:hover .validé {
    display: block;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul-plats > li:hover .prix-plats {
    right: 71px;
    transition-duration: 0.5s;
}

#ul-plats > li:hover .fa-circle-check {
    animation: rotate-center 0.5s ease-in-out both;
}

#ul_dessert > li:hover .validé {
    display: block;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#ul_dessert > li:hover .prix-dessert {
    right: 71px;
    transition-duration: 0.5s;
}

#ul_dessert > li:hover .fa-circle-check {
    animation: rotate-center 0.5s ease-in-out both;
}

.solid {
    color: transparent;
    background: radial-gradient(#ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(0);
    transition: all 400ms ease-in-out;
}

.duo:hover .solid {
    opacity: 1;
    transform: scale(1);
}
