@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

h2,
h3,
button,
p,
li,
a {
    font-family: "Roboto", sans-serif;
}

h1,
#footer-h3,
main header #delice-des-sens h2 {
    font-family: "Shrikhand";
    font-weight: 500;
}
